* {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  color: white;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
/* Canvas width = Canvas height, so, to avoid the game being cut off, we have to base both dimensions on the smaller one,
which is height for landscape orientation, width for portrait orientation */
@media screen and (orientation: landscape) {
  canvas {
    max-height: 82vh;
  }
}
@media screen and (orientation: portrait) {
  canvas {
    width: 95vw;
    max-width: 650px;
  }
}

/* Main Menu */
#main-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-menu h1 {
  height: 25%;
  font-size: 70px;
}

.buttons {
  height: 50%;
  display: flex;
  flex-direction: column;
}

#main-menu button {
  font-size: 50px;
}

/* Game Screen */
header, footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 100%;
}

#high-score, #score {
  margin: 5px 0;
}

/* Set different color for a new high score */
.new-high-score {
  color: red;
}

/* Game Over Screen */
#game-over {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Font sizes */
h1.game-ui, h2.game-ui {
  font-size: 40px;
}

@media screen and (max-height: 630px) {
  h1.game-ui, h2.game-ui {
    font-size: 6vh;
  }
}

/* Game over */
h1.game-over {
  font-size: 50px;
  margin: 20px;
  color: #B1DDF1;
}

/* Score & High Score */
h2.game-over {
  font-size: 40px;
  margin: 20px;
}

button {
  font-size: 40px;
  margin: 20px;
  border: none;
  color: #B1DDF1;
}

button:hover {
  color: #5889a0;
}